:root {
	--color-200: hsl(333, 28%, 65%);
	--color-400: hsl(333, 28%, 52%);
	--color-600: hsl(333, 28%, 39%);
	/* --color-600: #7f4861; */
	--color-800: hsl(333, 28%, 23%);
	--color-900: hsl(333, 28%, 16%);

	--color-dark: hsl(0, 5%, 4%);
	--color-light: hsl(0, 0%, 100%);
	--color-accent: hsl(28, 30%, 45%);

	/* grid-auto-flow: ; */
}

body {
	background-color: var(--color-dark);
	color: var(--color-light);
	font-family: 'Monaco', sans-serif;
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* focus styles */
*:focus {
	outline: none;
	box-shadow: 0 0 0 0.2rem var(--color-accent);
	border-radius: 0.3rem;
}

/*
  2. Remove default margin
*/
* {
	margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html,
body,
#__next {
	height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
	display: none;
}

ul {
	padding: 0;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
	font: inherit;
}
/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root,
#__next {
	isolation: isolate;
}

.column {
	display: grid;
	grid-auto-flow: row;
	gap: 1.2rem;
}

.line {
	position: absolute;
	top: 75%;
	left: 5rem;
	width: 2px;
	height: 25rem;
	background-color: var(--color-600);
}
